<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>

<body>
    <section>
        <% card.forEach(word => { %>
        <h1>
            <%= word.term%>
        </h1>
        <p>
            <%= word.description%>
        </p>
        <img src="<%- word.image_url%>" alt="not working" width="250px">
        <p>
            <%= word.notes%>
        </p>

        <button id="update_btn">update</button>
        <section id="update_form">
            <h2>Udate Info</h2>

            <form action="<%= `/update/${card.id}` %>" method="POST">
                <input type="text" name="term" value="<%= word.term%>">
                <textarea name="description" id="" cols="30" rows="10"><%= word.description%></textarea>
                <input type="text" name="image" value="<%= word.image_url%>">
                <input type="text" name="notes" value="<%= word.notes%>">
            </form>
        </section>

        <% }) %>

        <form action="/main" method="post">
            <button>NEW</button>
        </form>
    </section>
</body>

</html>