<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
</head>

<body>
    <section>
        <% card.forEach(word => { %>
        <h1>
            <%= word.term%>
        </h1>
        <p>
            <%= word.description%>
        </p>
        <img src="<%- word.image_url%>" alt="not working" width="250px">
        <p>
            <%= word.notes%>
        </p>

        <form action="<%= `/updateCard/${word.id}` %>" method="post">
            <input type="hidden" name="card_id" value="<%= word.id%>">
            <input type="hidden" name="term" value="<%= word.term%>">
            <input type="hidden" name="description" value="<%= word.description%>">
            <input type="hidden" name="image_url" value="<%= word.image_url%>">
            <input type="hidden" name="notes" value="<%= word.notes%>">
            <button id="update_btn">Edit</button>
        </form>
        <form action="<%= `/delete/${word.id}`%>" method="post">
            <input type="hidden" value="delete" name="_method">
            <button>DELETE</button>
        </form>

        <% }) %>

        <form action="/main" method="post">
            <button>NEW</button>
        </form>
    </section>
</body>

</html>